---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-3" title="About me">
    <div class="flex flex-col gap-2">
        <p class="text-sm font-light">
            Hi, I'm Keenan, a software engineer from South Africa.
            <br />
             My primary tools:
            <ul class="list-disc list-inside">
                <li>ASP.NET Core (Web API/MVC)</li>
                <li>React</li>
                <li>React Native</li>
                <li>SQL Server</li>
            </ul>
        </p>
        <p class="text-sm font-light">
            Beyond coding, I'm passionate about anime, music and gaming.
            I genuinely enjoy finding things that are a little bit wrong — small mistakes, inconsistencies, or details that feel out of place.
        </p>
        <p class="text-sm font-light">
            While I have some preferred tools, I am not opposed to using
            different technologies. My goal is to become a master developer and
            to teach others as I go.
        </p>
    </div>
</Card>
