---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-3" title="About me">
    <div class="flex flex-col gap-2">
        <p class="text-sm font-light">
            Hi, I'm Keenan, a full-stack software developer from South Africa.
            <br />
             My primary tools of choice includes:
            <ul class="list-disc list-inside">
                <li>ASP.NET Core (Web API/MVC)</li>
                <li>React</li>
            </ul>
        </p>
        <p class="text-sm font-light">
            Beyond coding, I'm passionate about music production, anime and
            gaming.
            <!-- An unusual hobby of mine is collecting vintage passports,
            they're interesting pieces of history to me. -->
        </p>
        <p class="text-sm font-light">
            While I have some preferred tools, I am not opposed to using
            different technologies. My goal is to become a master developer and
            to teach others as I go.
        </p>
    </div>
</Card>
