---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and technologies I work with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>.NET (Web API/MVC)</strong></li>
    <li><strong>React</strong></li>
    <li><strong>React Native</strong></li>
    <li><strong>SQL Server</strong></li>
  </ul>
</Card>
